@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Webpage Header */
header{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner header{
    height: 8vh;
}

h1{
    color: #9D4C0E;
    font-size: 1.1em;
    font-weight: 400;
}

nav.mid-nav{
    width: 55%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #000000ab;
}

nav ul li a.active{
    color: #8F5B33;
    font-weight: bold;
    border-bottom: 2px solid #8F5B33;
}

nav ul li a:hover, nav ul li a:active{
    color: #8F5B33;
}

.bi-list{
    display: none;
}

.bi-list, .bi-x {
    width: 35px;
    height: 35px;
    color: #9D4C0E;
    border: 1px solid #9D4C0E;
}

.mobile-nav-page{
    display: none;
    width: 100%;
    height: 100vh;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 10;
    transition: all 2s ease-in-out;
}

@keyframes transition {
    0% {
        width: 50%;
        display: none;
    }

    50% {
        width: 75%;
        display: none;
    }

    100% {
        width: 100%;
        display: block;
    }
}

@keyframes fade {
    0% {
        width: 75%;
    }

    50% {
        width: 50%;
    }

    75%{
        width: 25%;
    }

    100% {
        width: 10%;
    }
}

nav.mobile-nav{
    width: 90%;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.mobile-nav ul{
    width: 60%;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

nav.mobile-nav ul li{
    margin: 10px 10px 40px;
    font-size: 1.2rem;
}

nav.mobile-nav ul li a{
    padding: 5px 2px;
    font-weight: 600;
    color: #000;
}

nav.mobile-nav ul li a.active{
    color: #9D4C0E;
    font-weight: bold;
    border-bottom: 3px solid #8F5B33;
}

@media (min-width: 769px) and (max-width: 992px) {
    header{
        height: 8vh;
    }

    nav.mid-nav {
        width: 70%;
    }

    .bi-list{
        display: none;
    }

    svg{
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    header{
        height: 8vh;
    }

    nav.mid-nav {
        width: 80%;
    }

    .bi-list{
        display: none ;
    }

    svg{
        display: none;
    }
}

@media (max-width: 576px) {
    header {
        height: 9vh;
        width: 100%;
        padding: 15px 20px;
    }

    nav.mid-nav {
        display: none;
    }

    .mobile-nav-page{
        display: none;
    }

    .bi-list{
        display: block;
    }
}

/* Landing page banner */
section{
    width: 100%;
    margin-bottom: 60px;
    transition: all 4s;
}

.bg-brown {
    background: #8F5B33;
}

.text-brown{
    color: #8F5B33;
}

.text-center{
    text-align: center;
}

.fw-600{
    font-weight: 600;
}

.row{
    width: 80%;
    margin: auto;
    padding: 50px 0 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.col1{
    width: 45%;
    height: 510px;
    display: flex;
    flex-direction: column;
}

.col1 div{
    width: 100%;
    padding-right: 5px;
    align-self: stretch;
}

.col1 img {
    width: 42%;
    height: 260px;
    max-height: 260px;
    align-self: flex-end;
}

.col1 .text{
    width: 90%;
    margin-left: 0; 
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}

.col1 div h2{
    margin: 0;
    font-size: 3rem;
    font-family: 'Noto Serif';
    color: #D9D9D999;
    line-height: 1;
}

.col1 button{
    padding: 8px 25px;
    color: #fff;
    background: #4E290D;
    border-radius: 20px;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;;
}

.col2{
    width: 50%;
    height: 510px;
    display: flex;
    justify-content: space-around;
}

.second {
    width: 43%;
    height: 400px;
    align-self: flex-end;
}

.third {
    width: 43%;
    height: 400px;
    align-self: flex-start;
}

@media (min-width: 769px) and (max-width: 992px) {
    .col1, .col2{
        height: 420px;
    }

    .col1 div {
        width: 100%;
    }

    .col1 img {
        width: 48%;
        height: 230px;
        max-height: 230px;
    }

    .col1 .text {
        font-size: 0.8rem;
    }
    
    .col1 div h2 {
        font-size: 2em;
    }

    .second, .third{
        height: 320px;
        max-height: 320px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .col1, .col2 {
        height: 360px;
    }

    .col1 div {
        text-align: justify;
    }

    .col1 img {
        width: 48%;
        height: 180px;
        max-height: 190px;
    }

    .col1 .text {
        font-size: 0.7em;
    }

    .col1 div h2 {
        font-size: 1.8em;
    }

    .second, .third {
        height: 270px;
        max-height: 270px;
    }
}

@media (max-width: 576px) {
    .row{
        width: 90%;
        padding: 20px 0 5px;
        justify-content: space-between;
    }

    .col1{
        width: 49%;
        height: 410px;
        max-height: 420px;
    }

    .col1{
        justify-content: space-between;
    }

    .col1 img {
        width: 45%;
        height: 150px;
        max-height: 150px;
    }

    .col1 .text {
        width: 100%;
        font-size: 0.8rem;
    }

    .col1 div h2 {
        font-size: 1.5rem;
        line-height: 1;
    }

    .col2 {
        width: 50%;
        height: 400px;
    }

    .second, .third {
        width: 46%;
        height: 190px;
        max-height:200px;
    }

    .second {
        align-self: center;
    }

    .third {
        align-self: flex-start;
    }
}

.row2{
    width: 80%;
    margin: auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #D9D9D9;
    overflow-x: scroll ;
}

.scrollable > .row2 > div{
    width: 30%;
}

.row2 h3 {
    font-family: 'Noto Serif';
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}

.row2 h3:first-of-type{
    font-size: 1.5em;
}

.row2 > div button, form button{
    margin-top: 8px;
    padding: 8px 25px;
    color: #fff;
    background: #4E290D;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.small-box{
    width: 40px;
    height: 40px;
    background: #4E290D;
}      

.text{
    width: 75%;
    margin-left: 10px;
}

.row2 p{
    line-height: 1.5;
}

.scrollable{
    overflow-x: hidden !important;
}

@media (min-width: 769px) and (max-width: 992px) {
    .row2{
        padding: 40px 10px 30px;
    }

    .scrollable {
        overflow-x: hidden;
    }

    .scrollable > .row2 > div {
        width: 31%;
    }

    .row2 h3, .row2 h3:first-of-type {
        font-size: 1em;
    }

    .row2 p{
        font-size: 0.8em;
    }

    .small-box {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .small-box {
        width: 10px;
        height: 10px;
        background: #4E290D;
    }

    .scrollable {
        overflow-x: hidden;
    }

    .row2 {
        padding: 40px 10px 20px;
    }

    .scrollable > .row2 > div {
        width: 32%;
    }

    .row2 h3, .row2 h3:first-of-type {
        font-size: 1em;
    }

    .row2 p {
        font-size: 0.8em;
    }

    .small-box {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 576px) {
    .row2 {
        width: 90%;
        padding: 30px 20px 20px;
    }

    .scrollable {
        overflow-x: hidden;
    }

    .scrollable > .row2 > div {
        min-width: 100%;
        margin-right: 20px;
    }

    .scrollable > .row2 > div:first-of-type{
        min-width: 55%;
        margin-right: 50px;
    }
}

/* Photo Grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    max-width: 80%;
    margin: auto;
    padding: 20px;
}

.grid-container-mobile{
    display: none;
}

.grid-item-one{
    grid-column: 1/3;
}

.grid-item-two {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: auto;
    align-content: space-between;
}

.grid-item-three {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: auto;
    align-content: space-between;
}

.grid-item-four{
    grid-column: 2/4;
}

.grid-item img{
    width: 100%;
}

@media (max-width: 576px) {
    .grid-container{
        display: none;
    }

    .grid-container-mobile {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-gap: 10px;
        max-width: 90%;
        margin: auto;
        padding: 10px;
    }

    .grid-item-one-mobile {
        grid-column: 1/6;
    }

    .grid-item-two-mobile {
        grid-column: 6/9;
        display: grid;
        grid-template-rows: auto;
        grid-gap: 5px;
        align-content: space-between;
    }

    .grid-item-three-mobile{
        grid-column: 1/4;
        display: grid;
        grid-template-rows: auto;
        grid-gap: 5px;
        align-content: space-between;
    }

    .grid-item-four-mobile {
        grid-column: 4/9;
    }

    .grid-item-mobile img {
        width: 100%;
        height: 100%;
    }
}

section h2.noto{
    margin: 0;
    font-family: 'Noto Serif';
    font-size: 2em;
}

.row3 {
    width: 80%;
    margin: auto;
    padding: 20px;
    position: relative;
}

.row3 #contact h3, label{
    color: #FFF;
    font-family: 'Noto Serif';
    font-size: 1.3em;
    font-weight: 500;
}

#contact{
    width: 80%;
    padding: 30px 40px;
    background: #8F5B33;
    display: inline-block;
}

.row3 img{
    height: 300px;
    position: absolute; 
    top: 80px;
    right: 120px;
}

form{
    width: 60%;
}

form div{
    margin: 10px 0 20px;
}

input, textarea{
    width: 90%;
    margin-top: 10px;
    padding: 7px;
    outline: none;
    border: none;
}

input:focus,
textarea:focus{
    border: 1px solid #08414C;
}

@media (min-width: 769px) and (max-width: 992px){
    .row3 img {
        top: 70px;
        right: 70px;
    }

    form {
        width: 75%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .row3 img {
        top: 80px;
        right: 50px;
    }

    form {
        width: 75%;
    }
}

@media (max-width: 576px) {
    .row3 {
        width: 90%;
        padding: 10px;
    }

    #contact {
        width: 85%;
        padding: 20px 15px;
    }

    form{
        width: 75%;
    }

    input{
        width: 80%;
    }
    textarea{
        width: 100%;
    }

    .row3 img {
        height: 250px;
        position: absolute;
        top: 60px;
        right: 10px;
    }
}

/* Footer */
footer{
    width: 100%;
    margin: 0;
    padding: 40px 20px 10px;
    background: #726962;
    color: #FFF;
}

.my-footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot1{
    width: 25%;
}

.foot2{
    width: 70%;
}

.foot1 h4{
    font-family: 'Noto Serif';
    font-size: 1.2em;
}

.foot1 img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.foot2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot2 ul li{
    list-style: none;
    color: #fff;
    font-family: 'Noto Serif';
    font-size: 1.3em;
}

.copyright {
    margin-top: 50px;
    text-align: center;
    font-family: 'Noto Serif';
    font-size: 1.2em;
}

@media (min-width: 576px) and (max-width: 992px) {
    footer{
        padding: 50px 20px 20px;
    }

    .my-footer{
        align-items: center;
    }

    .foot1 {
        width: 30%;
    }

    .foot1 img {
        margin-right: 20px;
    }

    .foot2 {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .my-footer{
        width: 90%;
        flex-direction: column;
    }

    .foot1, .foot2{
        width: 100%;
        margin-bottom: 25px;
    }

    .foot2 ul{
        justify-content: space-between;
        flex-wrap:wrap;
        padding: 0;
    }

    .foot2 ul li{
        font-size: 1.1em;
    }

    .foot2 br{
        display: none;
    }

    .copyright{
        margin-top: 25px;
    }
}

/* ABOUT PAGE */
.banner{
    height: 250px;
    background: url("images/banner-image.png") no-repeat center/cover;
}

.about{
    width: 75%;
    margin: auto;
}

.about h2.poppin{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

.about p.text-brown{
    font-weight: 300;
    font-size: 1.2em;
}

.features{
    width: 75%;
    margin: 50px auto 20px;
    display: flex;
    justify-content: space-between;
}

.features div{
    width: 27%;
}

@media (min-width: 769px) and (max-width: 992px){
    .about {
        width: 75%;
        margin: auto;
    }

    .about h2.poppin{
        font-size: 2.5em;
    }

    .about p.text-brown{
        font-size: 1.3em;
    }

    .features {
        width: 80%;
    }

    br{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    .about h2.poppin {
        font-size: 2em;
    }

    .about p.text-brown {
        font-size: 1.2em;
    }

    br{
        display: none;
    }
}

@media (max-width: 576px){
    .about{
        width: 90%;
        margin: 100px auto 10px;
    }

    .about h2.poppin{
        font-size: 2em;
    }

    .features h3.text-brown{
        font-size: 1.8em;
    }

    .features p.text-brown, .about p.text-brown {
        font-size: 1.2em;
    }

    br {
        display: none;
    }

    .features {
        width: 90%;
        flex-direction: column;
        justify-content: space-between;
    }

    .features div{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .banner{
        height: 12vh;
    }

    .banner header{
        position: absolute;
        top: 12%;
    }
}












